h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.mediumsizeimg{
    max-width: 500px;
    max-heigth: 500px;
}

.card {
  margin: 25px !important;
}

.hidden {
    display: none;
}
