{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Action</th>
            <th>Transaction id</th>
            <th>Symbol</th>
            <th>Total Value</th>
            <th>Individual Value</th>
            <th>Shares</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for value in values %}
            <tr>
                <td>{% if value.shares > 0 %} Buy {% else %} Sell {% endif %}</td>
                <td>{{ value.id }}</td>
                <td>{{ value.symbol }}</td>
                <td>{{ value.value | usd}}</td>
                <td>{{ (value.value / value.shares) | usd}}</td>
                <td>{{ value.shares }}</td>
                <td>{{ value.timestamp }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
